Repository aws-samples/aws-serverless-ecommerce-platform, pull requests merged in 2020-07, with the labels that each got.

#124 Create Cloudwatch dashboard for Delivery service
  .gitignore
  delivery/src/on_package_created/main.py
  delivery/src/on_package_created/requirements.txt
  delivery/src/table_update/main.py
  delivery/src/table_update/requirements.txt
  delivery/template.yaml
Labels: enhancement, service:delivery

#127 orders: Switch to Lambda Powertools for custom metrics
  orders/src/create_order/main.py
  orders/src/create_order/requirements.txt
  orders/src/get_order/requirements.txt
  orders/src/on_events/main.py
  orders/src/on_events/requirements.txt
  orders/src/table_update/requirements.txt
  orders/template.yaml
  orders/tests/unit/test_on_events.py
  shared/tests/integ/fixtures.py
Labels: service:orders

#128 tools: automatically create an S3 bucket for artifacts
  docs/common_issues.md
  docs/getting_started.md
  docs/make_targets.md
  tools/package
Labels: tools

#123 Cloudwatch dashboard for payments
  payment/README.md
  payment/images/monitoring.png
  payment/src/on_completed/main.py
  payment/src/on_completed/requirements.txt
  payment/src/on_created/main.py
  payment/src/on_created/requirements.txt
  payment/src/on_failed/main.py
  payment/src/on_failed/requirements.txt
  payment/src/on_modified/main.py
  payment/src/on_modified/requirements.txt
  payment/src/validate/requirements.txt
  payment/template.yaml
  payment/tests/unit/test_on_completed.py
  payment/tests/unit/test_on_failed.py
Labels: enhancement, service:payment
